Define the following functions for processing different types of columns in structured datasets:

process_labels(mdf, column)

process_numerical_class(mdf, column)

process_binary_class(mdf, column, missing)

process_text_class(mdf_train, mdf_test, column)

In [115]:
#First we address imports.
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [103]:
# import training data to pandas dataframe
df = pd.read_csv("train.csv") 

# view the first five rows
df[:5]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [104]:
#expanded bare minimum set to prep for manipulations
df_bm = df.loc[:,['Neighborhood','GrLivArea','YearBuilt','OverallQual','CentralAir','SalePrice','FullBath','HalfBath','BsmtFullBath','BsmtHalfBath','TotalBsmtSF','BsmtUnfSF','Fireplaces','MasVnrType','RoofMatl']]
df_bm[:5]

,Neighborhood,GrLivArea,YearBuilt,OverallQual,CentralAir,SalePrice,FullBath,HalfBath,BsmtFullBath,BsmtHalfBath,TotalBsmtSF,BsmtUnfSF,Fireplaces,MasVnrType,RoofMatl
0,CollgCr,1710,2003,7,Y,208500,2,1,1,0,856,150,0,BrkFace,CompShg
1,Veenker,1262,1976,6,Y,181500,2,0,0,1,1262,284,1,None,CompShg
2,CollgCr,1786,2001,7,Y,223500,2,1,1,0,920,434,1,BrkFace,CompShg
3,Crawfor,1717,1915,7,Y,140000,1,0,1,0,756,540,1,None,CompShg
4,NoRidge,2198,2000,8,Y,250000,2,1,1,0,1145,490,1,BrkFace,CompShg

In [105]:
# import test data to pandas dataframe
df_test = pd.read_csv("test.csv") 

# view the first five rows
df_test[:5]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [106]:
#expanded bare minimum set to prep for manipulations
df_test_bm = df_test.loc[:,['Neighborhood','GrLivArea','YearBuilt','OverallQual','CentralAir','SalePrice','FullBath','HalfBath','BsmtFullBath','BsmtHalfBath','TotalBsmtSF','BsmtUnfSF','Fireplaces','MasVnrType','RoofMatl']]
df_test_bm[:5]

,Neighborhood,GrLivArea,YearBuilt,OverallQual,CentralAir,SalePrice,FullBath,HalfBath,BsmtFullBath,BsmtHalfBath,TotalBsmtSF,BsmtUnfSF,Fireplaces,MasVnrType,RoofMatl
0,NAmes,896,1961,5,Y,NaN,1,0,0.0,0.0,882.0,270.0,0,None,CompShg
1,NAmes,1329,1958,6,Y,NaN,1,1,0.0,0.0,1329.0,406.0,0,BrkFace,CompShg
2,Gilbert,1629,1997,5,Y,NaN,2,1,0.0,0.0,928.0,137.0,1,None,CompShg
3,Gilbert,1604,1998,6,Y,NaN,2,1,0.0,0.0,926.0,324.0,1,BrkFace,CompShg
4,StoneBr,1280,1992,8,Y,NaN,2,0,0.0,0.0,1280.0,1017.0,0,None,CompShg

In [107]:

#function to process training data \
#by deleting rows where labeling data is missing
#this should be applied before splitting to features and labels (x and y)

#process_labels(mdf, column)
#function to delete rows in training data where \
#label column has missing data
#takes as arguement a pandas dataframe (mdf), \
#and the name of the column string ('column') for labels
#deletes rows with missing values in label column
#returns transformed dataframe


def process_labels(mdf, column):
    
    #drop rows with missing data in training variable
    mdf = mdf.dropna(subset=[column]) 
    
    return mdf

In [108]:

#function to process and normalize numerical columns \
#using standard scalar approach and mean value for missing data


from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Imputer

#process_numerical_class(mdf, column)
#function to normalize data to mean of 0 and standard deviation of 1
#takes as arguement a pandas dataframe (mdf), \
#and the name of the column string ('column') 
#replaces original specified column in dataframe
#returns transformed dataframe

#assumes all values are either numbers or NaN (no text)


def process_numerical_class(mdf, column):
     
    #deal with missing values in numerical columns using scikit learn Imputer
    imp = Imputer(missing_values='NaN', strategy='mean', axis=1)
    imp.fit([mdf[column]])
    mdf[column] = pd.Series(imp.transform([mdf[column]]).tolist()[0])
    
    #normalize column using standard scalar approach (feature scaling)
    scaler = StandardScaler()
    mdf[[column]] = scaler.fit_transform(mdf[[column]])
    
    return mdf

In [109]:

#function to encode binary text classification columns to 0/1

from sklearn import preprocessing

#process_binary_class(mdf, column, missing)
#function to convert binary classification problems to a 0 or 1
#takes as arguement a pandas dataframe (mdf), \
#the name of the column string ('column') \
#and the string classification to assign to missing data ('missing')
#replaces original specified column in dataframe
#returns transformed dataframe

#missing category must be identical to one ot the two existing categories


def process_binary_class(mdf, column, missing):
    
    #replace missing data with specified classification
    mdf[column] = mdf[column].fillna(missing)
    
    #if more than two remaining classifications, return error message    
    if len(mdf[column].unique()) > 2:
        print('ERROR: number of categories in column for process_binary_class() call >2')
        return mdf
    
    #convert column to binary 0/1 classification
    lb = preprocessing.LabelBinarizer()
    mdf[column] = lb.fit_transform(mdf[column])
    
    return mdf

In [110]:

#process_text_class(mdf_train, mdf_test, column)
#function to process column with text classification
#takes as arguement two pandas dataframe containing training and test data respectively (mdf_train, mdf_test), \
#and the name of the column string ('column')

#note this trains both training and test data simultaneously due to unique treatment if any category \
#missing from training set but not from test set to ensure consistent formatting etc 

#deletes the original column from master dataframe and \
#replaces with onehot encodings \
#with columns named after column_ + text classifications
#missing data replaced with category label 'missing'+column
#any categories missing from the training set removed from test set
#any category present in training but missing from test set given a column of zeros for consistent formatting
#ensures order of all new columns consistent between both sets
#returns two transformed dataframe (mdf_train, mdf_test)

#if you only have training but not test data handy, you can simply use the same training data for both dataframe inputs


from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder


def process_text_class(mdf_train, mdf_test, column):

    #replace NA with a dummy variable
    mdf_train[column] = mdf_train[column].fillna('_missing')
    mdf_test[column] = mdf_test[column].fillna('_missing')

    
    #extract categories for column labels
    #note that .unique() extracts the labels as a numpy array
    labels_train = mdf_train[column].unique()
    labels_train.sort(axis=0)
    labels_test = mdf_test[column].unique()
    labels_test.sort(axis=0)
    
    #transform text classifications to numerical id
    encoder = LabelEncoder()
    cat_train = mdf_train[column]
    cat_train_encoded = encoder.fit_transform(cat_train)
    
    cat_test = mdf_test[column]
    cat_test_encoded = encoder.fit_transform(cat_test)
    
    
    #apply onehotencoding
    onehotencoder = OneHotEncoder()
    cat_train_1hot = onehotencoder.fit_transform(cat_train_encoded.reshape(-1,1))
    cat_test_1hot = onehotencoder.fit_transform(cat_test_encoded.reshape(-1,1))
    
    #append column header name to each category listing
    #note the iteration is over a numpy array hence the [...] approach instead of for loop
    labels_train[...] = column + '_' + labels_train[...]
    labels_test[...] = column + '_' + labels_test[...]
    
    
    #convert sparse array to pandas dataframe with column labels
    df_train_cat = pd.DataFrame(cat_train_1hot.toarray(), columns=labels_train)
    df_test_cat = pd.DataFrame(cat_test_1hot.toarray(), columns=labels_test)

    
    #Get missing columns in test set that are present in training set
    missing_cols = set( df_train_cat.columns ) - set( df_test_cat.columns )
    #Add a missing column in test set with default value equal to 0
    for c in missing_cols:
        df_test_cat[c] = 0
    #Ensure the order of column in the test set is in the same order than in train set
    #Note this also removes categories in test set that aren't present in training set
    df_test_cat = df_test_cat[df_train_cat.columns]
    
    
    #concatinate the sparse set with the rest of our training data
    mdf_train = pd.concat([df_train_cat, mdf_train], axis=1)
    mdf_test = pd.concat([df_test_cat, mdf_test], axis=1)
    

    #delete original column from training data
    del mdf_train[column]    
    del mdf_test[column]
    
    
    return mdf_train, mdf_test

In [111]:
#process_labels() tests

'''
df_bm = process_labels(df_bm, 'SalePrice')
df_bm.shape
'''
df = process_labels(df, 'Alley')
df.shape

(91, 81)

In [112]:
#process_numerical_class() tests

df_bm = process_numerical_class(df_bm, 'GrLivArea')
df_bm[:5]

,Neighborhood,GrLivArea,YearBuilt,OverallQual,CentralAir,SalePrice,FullBath,HalfBath,BsmtFullBath,BsmtHalfBath,TotalBsmtSF,BsmtUnfSF,Fireplaces,MasVnrType,RoofMatl
0,CollgCr,0.370333,2003,7,Y,208500,2,1,1,0,856,150,0,BrkFace,CompShg
1,Veenker,-0.482512,1976,6,Y,181500,2,0,0,1,1262,284,1,None,CompShg
2,CollgCr,0.515013,2001,7,Y,223500,2,1,1,0,920,434,1,BrkFace,CompShg
3,Crawfor,0.383659,1915,7,Y,140000,1,0,1,0,756,540,1,None,CompShg
4,NoRidge,1.299326,2000,8,Y,250000,2,1,1,0,1145,490,1,BrkFace,CompShg

In [113]:
# process_binary_class() tests

'''
#error call tests:

df_bm = process_binary_class(df_bm, 'CentralAir', 'Q')
df_bm[:5]

df_bm = process_binary_class(df_bm, 'Neighborhood', 'CollgCr')
df_bm[:5]

'''

#function test

df_bm = process_binary_class(df_bm, 'CentralAir', 'Y')
df_bm[:5]

,Neighborhood,GrLivArea,YearBuilt,OverallQual,CentralAir,SalePrice,FullBath,HalfBath,BsmtFullBath,BsmtHalfBath,TotalBsmtSF,BsmtUnfSF,Fireplaces,MasVnrType,RoofMatl
0,CollgCr,0.370333,2003,7,1,208500,2,1,1,0,856,150,0,BrkFace,CompShg
1,Veenker,-0.482512,1976,6,1,181500,2,0,0,1,1262,284,1,None,CompShg
2,CollgCr,0.515013,2001,7,1,223500,2,1,1,0,920,434,1,BrkFace,CompShg
3,Crawfor,0.383659,1915,7,1,140000,1,0,1,0,756,540,1,None,CompShg
4,NoRidge,1.299326,2000,8,1,250000,2,1,1,0,1145,490,1,BrkFace,CompShg

In [114]:
# process_text_class() tests:

df_bm, df_test_bm = process_text_class(df_bm, df_test_bm, 'MasVnrType')
df_bm[:5]


#df_bm = process_text_class(df_bm, df_bm, 'Neighborhood')
#df_bm[:5]

,MasVnrType_BrkCmn,MasVnrType_BrkFace,MasVnrType_None,MasVnrType_Stone,MasVnrType__missing,Neighborhood,GrLivArea,YearBuilt,OverallQual,CentralAir,SalePrice,FullBath,HalfBath,BsmtFullBath,BsmtHalfBath,TotalBsmtSF,BsmtUnfSF,Fireplaces,RoofMatl
0,0.0,1.0,0.0,0.0,0.0,CollgCr,0.370333,2003,7,1,208500,2,1,1,0,856,150,0,CompShg
1,0.0,0.0,1.0,0.0,0.0,Veenker,-0.482512,1976,6,1,181500,2,0,0,1,1262,284,1,CompShg
2,0.0,1.0,0.0,0.0,0.0,CollgCr,0.515013,2001,7,1,223500,2,1,1,0,920,434,1,CompShg
3,0.0,0.0,1.0,0.0,0.0,Crawfor,0.383659,1915,7,1,140000,1,0,1,0,756,540,1,CompShg
4,0.0,1.0,0.0,0.0,0.0,NoRidge,1.299326,2000,8,1,250000,2,1,1,0,1145,490,1,CompShg

Now that we have defined our funcations for data preprocessing of structures data, we'll begin a new notebook incorporating these functions and applying them to the processing and training of the Kaggle house price regression data set. To be continued in next notebook.